<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zizzle.cmpt370">

    <application
        android:allowBackup="true"
        android:icon="@drawable/game_plan"
        android:label="@string/app_name"
        android:roundIcon="@drawable/game_plan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.GameActivity" />
        <activity android:name=".Activities.AllGamesActivity" />
        <activity android:name=".Activities.TeamMemberActivity" />
        <activity android:name=".Activities.TeamActivity" />
        <activity android:name=".Activities.AboutUsActivity" />
        <activity android:name=".Activities.ProfileActivity" />
        <activity android:name=".Activities.SignupActivity" />
        <activity android:name=".Activities.HomeActivity" />
        <activity android:name=".Activities.SigninActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LeagueActivity"
            android:label="@string/title_activity_league"
            android:parentActivityName=".Activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zizzle.cmpt370.Activities.HomeActivity" />
        </activity>
        <activity
            android:name=".Activities.TeamsActivity"
            android:label="TeamsActivity"
            android:parentActivityName=".Activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zizzle.cmpt370.Activities.HomeActivity" />
        </activity>
        <activity
            android:name=".Activities.LeaguePop"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".Activities.ProfilePop"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".Activities.TeamsPop"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".Activities.GamePop"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".Activities.ReauthenticationPop"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".Activities.ScoreConfirmPop"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".Activities.ForgotPassPop"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".Activities.RemoveConfirmPop"
            android:theme="@style/AppTheme.PopUp" />
    </application>

</manifest>